* {
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    color: inherit;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background: #FFFFFF;
    padding-top: 30px;
}

.container nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    align-items: center;
}

.container nav li {
    margin: 0 25px;
}

section .container {
    margin-top: 12px;
    background: linear-gradient(97.77deg, rgba(245, 245, 245, 0.5) -23.46%, rgba(245, 245, 245, 0.5) 107.51%);
    display: flex;
}

section .left-side {
    padding: 34px 43px;
    max-width: 57%;
    flex: 1;

}

section .right-side {
    max-width: 43%;
    flex: 1;
}

section .right-side img {
    width: 100%;
    height: auto;
}

.p__welcome {
    font-family: "CeraPro", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-align: left;
    color: #3D3D3D;
    text-transform: uppercase;
    margin: 20px 0 0;
}

.p__welcome2 {
    font-family: "CeraPro", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #727272;
}

.h2__welcome {
    font-family: "CeraPro", sans-serif;
    font-size: 70px;
    font-weight: 900;
    line-height: 70px;
    text-align: left;
    color: #3D3D3D;
    text-transform: uppercase;
    margin: 0;
}

.left-side span {
    font-family: "CeraPro", sans-serif;
    font-size: 70px;
    font-weight: 900;
    line-height: 70px;
    text-align: left;
    color: #46A358;
    text-transform: uppercase;
}

.button__shopnow {
    margin: 30px 0;
    width: 140px;
    height: 40px;
    border-radius: 6px;
    background: #46A358;
    text-transform: uppercase;
    font-family: "CeraPro", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
}

.button__login {
    width: 100px;
    height: 35px;
    border-radius: 6px;
    background: #46A358;
    font-family: "CeraPro", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
}

.menu__button {
    margin-top: 0;
    display: flex;
}

.button__div {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.button__text {
    margin: 0;
    padding: 0;
    padding-right: 10px;

}

.button__img {
    margin: 0;
    padding: 0;
    padding-left: 10px;
}

.li__all {
    font-family: "CeraPro", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.11px;
    text-align: left;
    padding-bottom: 15px;
    cursor: pointer;
    color: #3D3D3D;
}

.li__home {
    font-family: "CeraPro", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20.11px;
    text-align: left;
    color: #3D3D3D;
    font-weight: bold;
    padding-bottom: 15px;
    cursor: pointer;
    border-bottom: 3px solid #46A358;
}

/* ======================================================= */

.categories {

    display: flex;
}

.grandcategs {
    display: flex;
    list-style: none;
    padding: 0;
    margin-left: 20px;
    font-family: "CeraPro", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    color: #3D3D3D;
    font-weight: bold;
    margin-bottom: 5px;
}

.categs {
    display: flex;
    list-style: none;
    padding: 0;
    margin-left: 30px;
    font-family: "CeraPro", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 40px;
    color: #3D3D3D;
    cursor: pointer;
}

.categs__house {
    font-family: "CeraPro", sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 40px;
    margin-left: 30px;
    color: #46A358;
    font-weight: bold;
    cursor: pointer;
}

.categories__div ul {
    margin: 0;
}

.menu__plants nav {
    display: flex;
    justify-content: space-between;
}

.left-menu {
    display: flex;
    list-style: none;
    padding: 0;
    font-family: "CeraPro", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
    color: #3D3D3D;
    cursor: pointer;
}

.right-menu {
    display: flex;
    list-style: none;
    padding: 0;
    align-items: center;
    font-family: "CeraPro", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
    color: #3D3D3D;
}

.right-menu li:last-child {
    cursor: pointer;
}

.menu__element__all {
    font-family: "CeraPro", sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 16px;
    color: #46A358;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 2px solid #46A358;
}

.left-menu li {
    margin-left: 40px;
}

.left-menu li:first-child {
    margin: 0;
}

.right-menu li {
    margin-left: 10px;
}

.categories__div {
    max-width: 25%;
    margin-right: 5%;
    flex: 1;
    background: #FBFBFB;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.categories__first {
    flex: 0 0 75%;
}

.super__sale {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.up__to__sale {
    font-family: "CeraPro", sans-serif;
    font-size: 23px;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
    font-weight: bold;
    color: #3D3D3D;
    margin: 10px;
    z-index: 1;
}

.supersale__img {
    cursor: pointer;
    max-width: 120%;
}

.categories__div ul {
    list-style: none;
    padding: 0;
}

.menu {
    max-width: 70%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.col1,
.col2,
.col3 {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    background: #FFFFFF;
}

.col1 {
    margin-top: 25px;
}

.col__element1,
.col__element2,
.col__element3 {

    cursor: pointer;
}

.col__element1 {
    margin-right: 25px;
}

.col__element3 {
    margin-left: 25px;
}

.col__element2 {
    margin-left: 25px;
    margin-right: 25px;
}

.col1 img,
.col2 img,
.col3 img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    background: rgba(251, 251, 251, 1);
}

.element__name {
    font-family: "CeraPro", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color: #3D3D3D;
    text-decoration: none;
    margin: 0;
    background: #FFFFFF;
}

.element__price {
    font-family: "CeraPro", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    text-align: left;
    color: #46A358;
    font-weight: bold;
    margin-top: 8px;
    background: #FFFFFF;
}

.last__buttons__div {
    display: flex;
    justify-content: right;
}

.last {
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    padding-bottom: 82px;
}

.last__buttons {
    width: 35px;
    height: 35px;
    left: 45px;
    gap: 0px;
    opacity: 0px;
    font-family: "CeraPro", sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 16px;
    text-align: center;
    color: #3D3D3D;
    background: #FFFFFF;
    border-radius: 4px;
    border: 1px;
    border: 1px solid #E5E5E5;
    cursor: pointer;
    margin: 5px;

}

.last__buttons:last-child {
    margin-right: 0;
}

.last__buttons1 {
    width: 35px;
    height: 35px;
    gap: 0px;
    border-radius: 4px;
    opacity: 0px;
    background: #46A358;
    font-family: "CeraPro", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    margin: 5px;
}

.posts__first {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 130px;
}

.posts__left,
.posts__right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: right;
    background: #FBFBFB;
}

.posts__texts h2 {
    font-family: "CeraPro", sans-serif;
    font-size: 18px;
    font-weight: 900;
    line-height: 24px;
    text-align: right;
    text-transform: uppercase;
    color: #3D3D3D;
}

.posts__texts p {
    font-family: "CeraPro", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: right;
    color: #727272;
}

.posts__button {
    width: 140px;
    height: 40px;
    gap: 0px;
    border-radius: 6px;
    opacity: 0px;
    background: #46A358;
    font-family: "CeraPro", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    cursor: pointer;
    color: #FFFFFF;

}

.posts__span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.posts__arrow {
    padding-left: 5px;
}

.our__blog__posts {
    text-align: center;
    margin-bottom: 30px;
}

.our__blog__posts h1 {
    font-family: "CeraPro", sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
    color: #3D3D3D;
    margin-bottom: 10px;
}

.our__blog__posts p {
    font-family: "CeraPro", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #727272;
}

.posts__second {
    display: flex;
    flex-direction: row;
    gap: 43px;
    margin-bottom: 100px;
}

.posts__element {
    background: #FBFBFB;
}

.green__info {
    font-family: "CeraPro", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
    color: #46A358;
    margin: 2px;
}

.posts__element h3 {
    font-family: "CeraPro", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
    color: #3D3D3D;
    margin-top: 5px;
    margin-bottom: 5px;
}

.info__info {
    font-family: "CeraPro", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color: #727272;
    margin: 0;
    margin-bottom: 8px;
}

.read__more {
    font-family: "CeraPro", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
    color: #3D3D3D;
    margin-top: 5px;
    margin-bottom: 5px;
}

.read__more2 {
    font-family: "CeraPro", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
    color: #46A358;
    margin-top: 5px;
    margin-bottom: 5px;
}

.input__div {
    margin-left: 15px;
    margin-top: 5px;
    margin-right: 11px;
    margin-bottom: 11px;
}

.read__more,
.read__more2 {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.posts__span2 {
    margin-bottom: 3px;
}

.img__post,
.img__post2 {
    cursor: pointer;
}

.element__arrow2 {
    color: #46A358;
}