* {
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    color: inherit;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}


.mask {
    width: 100%;
    height: 100%;
    background: white;
    position: fixed;
    top: 0;
    z-index: 100;
    transition: opacity 1s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}


.loader {
    width: 60px;
    aspect-ratio: 1;
    border: 15px solid #ddd;
    border-radius: 50%;
    position: relative;
    transform: rotate(45deg);
}

.loader::before {
    content: "";
    position: absolute;
    inset: -15px;
    border-radius: 50%;
    border: 15px solid #46A358;
    animation: l18 2s 2 linear;

}

@keyframes l18 {
    0% {
        clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
    }

    25% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
    }

    50% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
    }

    75% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%)
    }

    100% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0)
    }
}




.container {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    background: #FFFFFF;
    border: 1px solid #727272;
}

.cross {
    display: flex;
    justify-content: flex-end;
    margin-top: 13px;
    margin-right: 13px;

}

.text1 {
    font-family: "CeraPro", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
    color: #3D3D3D;

}

.text2 {
    font-family: "CeraPro", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
    color: #46A358;
}

.log__reg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 12px;
    margin-top: 21px;
}

.text3 {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-bottom: 14px;
    margin-left: 100px;
    margin-right: 100px;
    font-family: "CeraPro", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color: #3D3D3D;
}

.id1 {
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #A5A5A5;
    font-family: "CeraPro", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color: #A5A5A5;
}

.id2 {
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #A5A5A5;
    font-family: "CeraPro", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color: #A5A5A5;
}

.id3 {
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #A5A5A5;
    font-family: "CeraPro", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color: #A5A5A5;
    padding-right: 40px;
}

.input__icon {
    position: relative;
}

.input__icon::after {
    content: '';
    background-image: url("../images/hide.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: 110px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
}

.id4 {
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #A5A5A5;
    font-family: "CeraPro", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color: #A5A5A5;
}

.text__pass {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-left: 100px;
}

.id5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 41px;
    margin-bottom: 36px;
    margin-left: 100px;
    width: 300px;
    height: 45px;
    border-radius: 5px;
    background: #46A358;
    cursor: pointer;
    font-family: "CeraPro", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    color: #FFFFFF;
}

.lines__text {
    font-family: "CeraPro", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color: #3D3D3D;
}

.text4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    margin-bottom: 27px;
}

.id6 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 9px;
    margin-bottom: 15px;
    margin-left: 100px;
    width: 300px;
    height: 45px;
    border-radius: 5px;
    cursor: pointer;
    font-family: "CeraPro", sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    text-align: center;
    color: #727272;
    background: #FFFFFF;
    border: 1px solid #A5A5A5;
}

.id8 {
    text-decoration: none;
    font-family: "CeraPro", sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    color: #727272;
    background: #FFFFFF;
}

.id9 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin-bottom: 15px;
    margin-left: 100px;
    width: 300px;
    height: 45px;
    border-radius: 5px;
    cursor: pointer;
    font-family: "CeraPro", sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    text-align: center;
    color: #727272;
    background: #FFFFFF;
    border: 1px solid #A5A5A5;
    margin-bottom: 40px;
}

.id11 {
    text-decoration: none;
    font-family: "CeraPro", sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    text-align: center;
    color: #727272;
    background: #FFFFFF;
}

.footer__end {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
}

.checkboxs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;

}


.checkbox-wrapper-42 input[type="checkbox"] {
    display: none;
    visibility: hidden;
}

.checkbox-wrapper-42 label {
    display: inline-block;
}

.checkbox-wrapper-42 .cbx {
    position: relative;
    top: 1px;
    width: 17px;
    height: 17px;
    border: 1px solid #c8ccd4;
    border-radius: 3px;
    vertical-align: middle;
    transition: background 0.1s ease;
    cursor: pointer;
}

.checkbox-wrapper-42 .cbx:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 5px;
    width: 5px;
    height: 11px;
    opacity: 0;
    transform: rotate(45deg) scale(0);
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transition: all 0.3s ease;
    transition-delay: 0.15s;
}

.checkbox-wrapper-42 .lbl {
    margin-left: 5px;
    vertical-align: middle;
    cursor: pointer;
    padding-right: 20px;
}

.checkbox-wrapper-42 input[type="checkbox"]:checked~.cbx {
    border-color: transparent;
    background: #6871f1;
    animation: jelly-42 0.6s ease;
}

.checkbox-wrapper-42 input[type="checkbox"]:checked~.cbx:after {
    opacity: 1;
    transform: rotate(45deg) scale(1);
}

.checkbox-wrapper-42 .cntr {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
}

@-moz-keyframes jelly-42 {
    from {
        transform: scale(1, 1);
    }

    30% {
        transform: scale(1.25, 0.75);
    }

    40% {
        transform: scale(0.75, 1.25);
    }

    50% {
        transform: scale(1.15, 0.85);
    }

    65% {
        transform: scale(0.95, 1.05);
    }

    75% {
        transform: scale(1.05, 0.95);
    }

    to {
        transform: scale(1, 1);
    }
}

@-webkit-keyframes jelly-42 {
    from {
        transform: scale(1, 1);
    }

    30% {
        transform: scale(1.25, 0.75);
    }

    40% {
        transform: scale(0.75, 1.25);
    }

    50% {
        transform: scale(1.15, 0.85);
    }

    65% {
        transform: scale(0.95, 1.05);
    }

    75% {
        transform: scale(1.05, 0.95);
    }

    to {
        transform: scale(1, 1);
    }
}

@-o-keyframes jelly-42 {
    from {
        transform: scale(1, 1);
    }

    30% {
        transform: scale(1.25, 0.75);
    }

    40% {
        transform: scale(0.75, 1.25);
    }

    50% {
        transform: scale(1.15, 0.85);
    }

    65% {
        transform: scale(0.95, 1.05);
    }

    75% {
        transform: scale(1.05, 0.95);
    }

    to {
        transform: scale(1, 1);
    }
}

@keyframes jelly-42 {
    from {
        transform: scale(1, 1);
    }

    30% {
        transform: scale(1.25, 0.75);
    }

    40% {
        transform: scale(0.75, 1.25);
    }

    50% {
        transform: scale(1.15, 0.85);
    }

    65% {
        transform: scale(0.95, 1.05);
    }

    75% {
        transform: scale(1.05, 0.95);
    }

    to {
        transform: scale(1, 1);
    }
}

.checkbox-wrapper-29 {
    --size: 1rem;
    --background: #fff;
    font-size: var(--size);
    padding-right: 20px;
}

.checkbox-wrapper-29 *,
.checkbox-wrapper-29 *::after,
.checkbox-wrapper-29 *::before {
    box-sizing: border-box;
}

.checkbox-wrapper-29 input[type="checkbox"] {
    visibility: hidden;
    display: none;
}

.checkbox-wrapper-29 .checkbox__label {
    width: var(--size);
}

.checkbox-wrapper-29 .checkbox__label:before {
    content: ' ';
    display: block;
    height: var(--size);
    width: var(--size);
    position: absolute;
    top: calc(var(--size) * 0.125);
    left: 0;
    background: var(--background);
}

.checkbox-wrapper-29 .checkbox__label:after {
    content: ' ';
    display: block;
    height: var(--size);
    width: var(--size);
    border: calc(var(--size) * .14) solid #000;
    transition: 200ms;
    position: absolute;
    top: calc(var(--size) * 0.125);
    left: 0;
    background: var(--background);
}

.checkbox-wrapper-29 .checkbox__label:after {
    transition: 100ms ease-in-out;
}

.checkbox-wrapper-29 .checkbox__input:checked~.checkbox__label:after {
    border-top-style: none;
    border-right-style: none;
    -ms-transform: rotate(-45deg);
    /* IE9 */
    transform: rotate(-45deg);
    height: calc(var(--size) * .5);
    border-color: green;
}

.checkbox-wrapper-29 .checkbox {
    position: relative;
    display: flex;
    cursor: pointer;
    /* Mobile Safari: */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.checkbox-wrapper-29 .checkbox__label:after:hover,
.checkbox-wrapper-29 .checkbox__label:after:active {
    border-color: green;
}

.checkbox-wrapper-29 .checkbox__label {
    margin-right: calc(var(--size) * 0.45);
}

.checkbox-wrapper-1 *,
.checkbox-wrapper-1 ::after,
.checkbox-wrapper-1 ::before {
    box-sizing: border-box;
}

.checkbox-wrapper-1 [type=checkbox].substituted {
    margin: 0;
    width: 0;
    height: 0;
    display: inline;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.checkbox-wrapper-1 [type=checkbox].substituted+label:before {
    content: "";
    display: inline-block;
    vertical-align: top;
    height: 1.15em;
    width: 1.15em;
    margin-right: 0.6em;
    color: rgba(0, 0, 0, 0.275);
    border: solid 0.06em;
    box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em inset, 0 0 0 0.07em transparent inset;
    border-radius: 0.2em;
    background: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xml:space="preserve" fill="white" viewBox="0 0 9 9"><rect x="0" y="4.3" transform="matrix(-0.707 -0.7072 0.7072 -0.707 0.5891 10.4702)" width="4.3" height="1.6" /><rect x="2.2" y="2.9" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 12.1877 2.9833)" width="6.1" height="1.7" /></svg>') no-repeat center, white;
    background-size: 0;
    will-change: color, border, background, background-size, box-shadow;
    transform: translate3d(0, 0, 0);
    transition: color 0.1s, border 0.1s, background 0.15s, box-shadow 0.1s;
}

.checkbox-wrapper-1 [type=checkbox].substituted:enabled:active+label:before,
.checkbox-wrapper-1 [type=checkbox].substituted:enabled+label:active:before {
    box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em transparent inset, 0 0 0 0.07em rgba(0, 0, 0, 0.1) inset;
    background-color: #f0f0f0;
}

.checkbox-wrapper-1 [type=checkbox].substituted:checked+label:before {
    background-color: #3B99FC;
    background-size: 0.75em;
    color: rgba(0, 0, 0, 0.075);
}

.checkbox-wrapper-1 [type=checkbox].substituted:checked:enabled:active+label:before,
.checkbox-wrapper-1 [type=checkbox].substituted:checked:enabled+label:active:before {
    background-color: #0a7ffb;
    color: rgba(0, 0, 0, 0.275);
}

.checkbox-wrapper-1 [type=checkbox].substituted:focus+label:before {
    box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em transparent inset, 0 0 0 0.07em rgba(0, 0, 0, 0.1) inset, 0 0 0 3.3px rgba(65, 159, 255, 0.55), 0 0 0 5px rgba(65, 159, 255, 0.3);
}

.checkbox-wrapper-1 [type=checkbox].substituted:focus:active+label:before,
.checkbox-wrapper-1 [type=checkbox].substituted:focus+label:active:before {
    box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em transparent inset, 0 0 0 0.07em rgba(0, 0, 0, 0.1) inset, 0 0 0 3.3px rgba(65, 159, 255, 0.55), 0 0 0 5px rgba(65, 159, 255, 0.3);
}

.checkbox-wrapper-1 [type=checkbox].substituted:disabled+label:before {
    opacity: 0.5;
}

.checkbox-wrapper-1 [type=checkbox].substituted.dark+label:before {
    color: rgba(255, 255, 255, 0.275);
    background-color: #222;
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xml:space="preserve" fill="rgba(34, 34, 34, 0.999)" viewBox="0 0 9 9"><rect x="0" y="4.3" transform="matrix(-0.707 -0.7072 0.7072 -0.707 0.5891 10.4702)" width="4.3" height="1.6" /><rect x="2.2" y="2.9" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 12.1877 2.9833)" width="6.1" height="1.7" /></svg>');
}

.checkbox-wrapper-1 [type=checkbox].substituted.dark:enabled:active+label:before,
.checkbox-wrapper-1 [type=checkbox].substituted.dark:enabled+label:active:before {
    background-color: #444;
    box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em transparent inset, 0 0 0 0.07em rgba(255, 255, 255, 0.1) inset;
}

.checkbox-wrapper-1 [type=checkbox].substituted.dark:checked+label:before {
    background-color: #a97035;
    color: rgba(255, 255, 255, 0.075);
}

.checkbox-wrapper-1 [type=checkbox].substituted.dark:checked:enabled:active+label:before,
.checkbox-wrapper-1 [type=checkbox].substituted.dark:checked:enabled+label:active:before {
    background-color: #c68035;
    color: rgba(0, 0, 0, 0.275);
}

.checkbox-wrapper-1 [type=checkbox].substituted+label {
    -webkit-user-select: none;
    user-select: none;
}