* {
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    color: inherit;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    background: #FFFFFF;

}

.container nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-left: 60px;
    margin-right: 60px;
    /* margin-top: 50px; */
}

.container nav ul {
    display: flex;
    padding: 0;
    align-items: right;
}

.logos {
    display: flex;
    flex-direction: column;
}

.grandlogos {
    margin-top: 6.5px;
}

.grand__menu {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: right;
    gap: 0;
}

.up__menu {
    padding: 0;
    margin: 0;
    margin-top: 52px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    top: -20px;
}

.button__item {
    padding: 0;
    margin: 0;
}

.menu__list li {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 0;
}

.li1 {
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
    text-align: right;
    color: #B3B3BA;

}

.li2 {
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 700;
    line-height: 19.5px;
    text-align: right;
    color: #B3B3BA;

}

.separator {
    margin-left: 7px;
    margin-right: 7px;
}

.up__menu button {
    width: 33px;
    height: 25px;
    padding: 5px 7px 5px 7px;
    gap: 6px;
    border-radius: 8px;
    opacity: 0px;
    background-color: transparent;

    font-family: "Montserrat";
    font-size: 12px;
    font-weight: 700;
    line-height: 14.63px;
    letter-spacing: 1px;
    text-align: center;
    color: #B3B3BA;
}

.up__menu button:hover {
    background: #F0145A;
    color: #FFFFFF;
    cursor: pointer;
}

.down__menu {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    position: relative;
    top: -30px;
}

.burger-checkbox {
    display: none;
}

.menu__list2 {
    list-style: none;
    gap: 15px;
    position: relative;
}

.menu__list2 a {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.menu__list2 a:hover {
    color: #F0145A;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.menu__list2 li {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 0;

    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 700;
    line-height: 19.5px;
    text-align: right;
    color: #24A3FF;
}

.facebook {
    color: #B3B3BA;
}

.facebook:hover {
    color: #F0145A;
    cursor: pointer;
}

.menu__list2 a::after {
    content: '';
    position: absolute;
    width: 103%;
    height: 2px;
    background-color: #F0145A;
    bottom: -4px;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

.menu__list2 a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;

}

.partner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 180px;
    margin-right: 180px;
    margin-top: 30px;
    margin-bottom: 70px;
    gap: 60px;
}


.info p {

    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: #000000;
}

.info h3 {

    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 700;
    line-height: 17.07px;
    letter-spacing: 1px;
    text-align: left;
    color: #323264;
    text-transform: uppercase;
}

.info h2 {
    padding: 0;
    margin: 0;
    font-family: "Montserrat";
    font-size: 38px;
    font-weight: 700;
    line-height: 46.32px;
    text-align: left;
    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.info__item {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.info__item h5 {

    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color: #B3B3BA;
}

.info__item a {
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
    text-align: left;
    color: #24A3FF;
    text-decoration: none;
}


footer {
    margin: 0;
    padding: 0;
    max-width: 1440px;
    margin: 0 auto;
    background: #F5F5FA;
    position: relative;
    top: -40px;
}

.footer__menu {
    margin-left: 60px;
    margin-right: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__item {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.footer__item2 {
    margin: 0;
    padding: 0;
    margin-left: 60px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    position: relative;
    top: -10px;
}

.footer__item2 svg {
    margin: 0;
    padding: 0;
}

.footer__item p {
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
    text-align: left;
    color: #323264;
}

.footer__item h3 {
    font-family: "Montserrat";
    font-size: 12px;
    font-weight: 700;
    line-height: 14.63px;
    letter-spacing: 1px;
    text-align: left;
    color: #24A3FF;
    text-transform: uppercase;
    cursor: pointer;
}

.footer__item h4 {
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
    text-align: right;
    color: #B3B3BA;
}

.footer__item2 p {
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 700;
    line-height: 19.5px;
    text-align: right;
    color: #46466E;
}

.footer__item2 a {
    text-decoration: none;
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 700;
    line-height: 19.5px;
    text-align: left;
    color: #24A3FF;
}


@media (max-width: 768px) {
    .container nav {
        margin-left: 30px;
        margin-right: 30px;
        flex-direction: column;
        align-items: flex-start;
    }

    .partner {
        flex-direction: column;
        margin-left: 0;
        margin-right: 0;
        margin-top: 20px;
        gap: 20px;
    }

    .info h2 {
        font-size: 28px;
    }

    .footer__menu {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer__item2 {
        margin-left: 0;
        margin-top: 10px;
    }

    .footer__item p {
        font-size: 14px;
    }

    .footer__item h3,
    .footer__item h4 {
        font-size: 14px;
    }

    .footer__item2 p {
        font-size: 14px;
    }

    .footer__item2 a {
        font-size: 14px;
    }

    .up__menu,
    .down__menu {
        flex-direction: column;
        align-items: flex-start;
    }

    .button__item {
        display: flex;
        flex-direction: row;
        justify-content: left;
    }

    .menu__list2 {
        flex-direction: column;
        gap: 10px;
    }

    .menu__list2 li {
        text-align: left;
    }

    .info__item {
        flex-direction: column;
        align-items: flex-start;
    }

    .info,
    footer {
        width: 70%;
    }

    .midleline {
        display: none;
    }

    footer {
        position: relative;
        left: -110px;
    }


    .burger-checkbox {
        position: absolute;
        visibility: hidden;
    }

    .burger {
        position: relative;
        z-index: 1;
        cursor: pointer;
        display: block;
        position: relative;
        border: none;
        background: transparent;
        width: 40px;
        height: 26px;
        top: 20px;
    }

    .burger::before,
    .burger::after {
        content: '';
        left: 0;
        position: absolute;
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 10px;
        background: #000;
    }

    .burger::before {
        top: 0;
        box-shadow: 0 11px 0 #000;
        transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
    }

    .burger::after {
        bottom: 0;
        transition: bottom .3s .15s, transform .3s;
    }

    .burger-checkbox:checked+.burger::before {
        top: 11px;
        transform: rotate(45deg);
        box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
        transition: box-shadow .15s, top .3s, transform .3s .15s;
    }

    .burger-checkbox:checked+.burger::after {
        bottom: 11px;
        transform: rotate(-45deg);
        transition: bottom .3s, transform .3s .15s;
    }

    .menu__list2 {
        top: 0;
        left: -50px;
        position: absolute;
        display: grid;
        gap: 12px;
        padding: 42px 0;
        margin: 0;
        background: #F0145A;
        list-style-type: none;
        transform: translateX(-100%);
        transition: .3s;
        width: 250px;
        border-radius: 0 12px 12px 0;
    }

    .menu-item {
        display: block;
        padding: 8px;
        color: white;
        font-size: 18px;
        text-align: center;
        text-decoration: none;
        top: 0;
        left: 100px;
        position: relative;
    }

    .menu-item:hover {
        background: rgba(255, 255, 255, .2)
    }

    .burger-checkbox:checked~.menu__list2 {
        transform: translateX(0);
    }
}

@media (max-width: 540px) {

    footer {
        width: 80%;
        position: relative;
        left: -55px;
    }


    .burger-checkbox {
        position: absolute;
        visibility: hidden;
    }

    .burger {
        position: relative;
        z-index: 1;
        cursor: pointer;
        display: block;
        position: relative;
        border: none;
        background: transparent;
        width: 40px;
        height: 26px;
        top: 20px;
    }

    .burger::before,
    .burger::after {
        content: '';
        left: 0;
        position: absolute;
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 10px;
        background: #000;
    }

    .burger::before {
        top: 0;
        box-shadow: 0 11px 0 #000;
        transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
    }

    .burger::after {
        bottom: 0;
        transition: bottom .3s .15s, transform .3s;
    }

    .burger-checkbox:checked+.burger::before {
        top: 11px;
        transform: rotate(45deg);
        box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
        transition: box-shadow .15s, top .3s, transform .3s .15s;
    }

    .burger-checkbox:checked+.burger::after {
        bottom: 11px;
        transform: rotate(-45deg);
        transition: bottom .3s, transform .3s .15s;
    }

    .menu__list2 {
        top: 0;
        left: -50px;
        position: absolute;
        display: grid;
        gap: 12px;
        padding: 42px 0;
        margin: 0;
        background: #F0145A;
        list-style-type: none;
        transform: translateX(-100%);
        transition: .3s;
        width: 250px;
        border-radius: 0 12px 12px 0;
    }

    .menu-item {
        display: block;
        padding: 8px;
        color: white;
        font-size: 18px;
        text-align: center;
        text-decoration: none;
        top: 0;
        left: 100px;
        position: relative;
    }

    .menu-item:hover {
        background: rgba(255, 255, 255, .2)
    }

    .burger-checkbox:checked~.menu__list2 {
        transform: translateX(0);
    }
}